{% autoescape off %}
You're receiving this e-mail because you bought something at {{ site_name }}.

Your username, in case you've forgotten: {{ user.username }}

<div class="container">
    <div class="row">
        {% for p in cart %}
        <div class="col-sm-6">
            <h5><span class="boldtext">Product Name:</span> {{ p.product.name }} </h5>
            <p><span class="boldtext">Product description:</span> {{ p.product.description }} </p>
            <img src="{{MEDIA_URL}}{{p.product.image}}">
            <p><span class="boldtext">Product price:</span> {{ p.product.price }} </p>
            <p><span class="boldtext">Product brand:</span> {{ p.product.brand }} </p>
            <p><span class="boldtext">Amount in Cart:</span> {{ p.quantity }} </p>
            <p><span class="boldtext">Total Product:</span> {{ p.sub_total }} </p>
            <form method="POST" action="{% url 'remove_from_cart' %}">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ p.product.id }}" />
                <input type="submit" value="Remove" class="btn btn-success" />
            </form>
        </div>
        {% endfor %}
    </div>
</div>
<br>
<div>
    <h3>Grand Total: €{{ cart_total }} </h3>


Thanks for using our site!

The {{ site_name }} team.

{% endautoescape %}