{% autoescape off %}
You're receiving this e-mail because you bought something at {{ site_name }}.

Your username, in case you've forgotten: {{ user.username }}

<div class="container">
    <div class="row">
        {% for p in shortlist %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 text-center">
            <img class="watch_img" src="{{MEDIA_URL}}{{p.product.image}}" />
            <div class="details">
                <h2>Collection: {{ p.product.collection }}</h2>
                <p>{{ p.product.name }}</p>
                <p>Case: {{ p.product.case }}</p>
                <p>Glass: {{ p.product.glass }}</p>
                <p>Functions: {{ p.product.functions }}</p>
                <p>Strap: {{ p.product.strap }}</p>
                <h3>€{{ p.product.price }}</h3>
            </div>
            <form method="POST" action="{% url 'remove_from_shortlist' %}">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ p.product.id }}" />
                <input type="submit" value="Remove" class="btn btn-success" />
            </form>
        </div>
        {% endfor %}
    </div>
</div>
<br>
<div>
    <h3>Grand Total: €{{ cart_total }} </h3>


Thanks for using our site!

The {{ site_name }} team.

{% endautoescape %}