/*Navbar-------------------------------------*/

body {
    font-family: 'Great Vibes', cursive;
    letter-spacing: 3px;
}


.navbar {
    padding: 10px;
    background-color: white;
    position: fixed;
    top: 5;
    width: 100%;
}

.navbar-brand {
    font-size: 40px;
    font-weight: bold;
}

.navoptions {
    font-size: 27px;
    font-weight: bold;
    margin-left: 10px;
}
