{% extends 'base.html' %} 
{% block content %}

<div class="container text-center loginh1">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="watch_h1">Profile Details</h1>
        </div>
    </div>
</div>



<div class="container text-center loginh1">
    <div class="row">
        <div class="col-sm-12">
            <p class="watch_h1">Username: {{ user.username }}</p>
        </div>                
        <div class="col-sm-12">    
            <p class="watch_h1">EMail: {{ user.email }}</p>
        </div>
    </div>
</div>


<!--not in use as only using buyer-->
<!--{% if user.buyer %}-->
<!--<p>You are a buyer</p>-->
<!--{% endif %} -->
<!--{% if user.seller %}-->
<!--<p>You are a seller</p>-->
<!--{% endif %} -->
<!--{% endblock content %}-->
