{% extends 'base.html' %}

{% block content %}

{% for product in products %}
<h3>Collection: {{ product.collection }}</h3>
<img src="{{MEDIA_URL}}{{product.image}}" />
<p>{{ product.description }}</p>
<p>Case: {{ product.case }}</p>
<p>Glass: {{ product.glass }}</p>
<p>Functions: {{ product.functions }}</p>
<p>Strap: {{ product.strap }}</p>
<p>Price: {{ product.price }}</p>
<form method="POST" action="{% url 'add_to_shortlist' %}">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}" />
    <input type="submit" value="Add to Shortlist" class="btn btn-success"/>
</form>
{% endfor %}


{% endblock content %}